@font-face {
  font-family: "Bentoga";
  src: url("./assets/fonts/Bentoga-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bentoga-font {
  font-family: "Bentoga", serif;
}
